<!-- tasks/templates/tasks/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container text-center">
            {% if user.is_authenticated %}
            {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-primary add-task-color">Get Started</a>
                    <br>
                    <br>
            {% endif %}
            <p class="lead">Your minimalist task manager for distraction-free productivity.</p>
        </div>
    </section>

    <section class="features-section mt-5">
        <div class="container">
            <h2 class="text-center mb-4">Key Features</h2>
            <div class="row">
                {% for feature in features %}
                    <div class="col-md-4">
                        <div class="feature-item">
                            <i class="{{ feature.icon }}"></i>
                            <h3>{{ feature.title }}</h3>
                            <p>{{ feature.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <h2 class="text-center mb-4">How to Use</h2>
            <div class="row">
                {% for instruction in instructions %}
                    <div class="col-md-4">
                        <div class="feature-item">
                            <i class="{{ instruction.icon }}"></i>
                            <h3>{{ instruction.title }}</h3>
                            <p>{{ instruction.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="testimonials-section mt-5">
        <div class="container">
            <h2 class="text-center mb-4">What Our Users Say</h2>
            <div class="row">
                {% for feedback in feedbacks %}
                <div class="col-md-6 offset-md-3">
                    <div class="testimonial">
                        <p>{{ feedback.content }}</p>
                        <p class="author">{{ feedback.author }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

