body {
    font-family: Montserrat, sans-serif;
}

.mt-5 {
    margin-top: 1.2rem !important;
}

.main-text-color {
    color: #2F4858;
}

.add-task-color {
    background-color: #2F4858;
    border: #2F4858;
    font-size: 1.3rem;
    font-weight: 900;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: none
}

.task-category {
    font-family: Lato, sans-serif;
    font-size: 1.9rem;
    font-weight: 800;
    text-decoration: none
}

.task-expired {
    background-color: #ff666633;
}

.completed-task {
    opacity: 0.4;
}

.task-title {
    font-size: 1.5rem;
    font-weight: 700;
    font-weight: bold;
}

.tasks-align {
    text-align: left;
}

.tasks-margin {
    margin-top: 5px;
    margin-bottom: 3px;
}

.label-text {
    font-size: 14px;
    color: #010900;
    font-weight: 600;
}

.label-content {
    font-size: 18px;
    color: #2F4858;
    font-weight: bold;
}

.label-low {
    border: 2px solid #F9FBEB;
    background-color: #F9FBEB;
    border-radius: 10px;
    padding: 2px 2px 2px 8px;
}

.label-medium {
    color: white;
    border: 2px solid #92A14A;
    background-color: #92A14A;
    border-radius: 10px;
    padding: 2px 2px 2px 8px;
}

.label-high {
    color: white;
    border: 2px solid #1E5C6A;
    background-color: #1E5C6A;
    border-radius: 10px;
    padding: 2px 2px 2px 8px;
}

.footer-size {
    font-size: 1.3rem;
}