<!-- tasks/templates/tasks/category_form.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-9 offset-md-1">
            <h2>{{ form.instance.title|default:"New Category" }}</h2>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
