<!-- tasks/templates/tasks/category.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>Categories</h2>
    <a href="{% url 'create_category' %}">New Category</a>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'category_detail' category.id %}">
                    <strong>{{ category.category_name }} ({{ category.task_count }})</strong>
                </a>
                <a href="{% url 'edit_category' category.id %}">Edit</a>
                <a href="{% url 'delete_category' category.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No Categories found.</li>
        {% endfor %}
    </ul>
{% endblock %}
