{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- category_detail.html content starts here -->
<div class="category-detail row text-center">
    <div class="col-6">
        <h2 class="main-format-text main-text-red">{{ category.category_name }}</h2>
        <p>Assigned tasks: {{ task_count }}</p>
    </div>
    <div class="col-6">
        <a href="{% url 'create_task' %}" class="btn btn-primary mb-4 main-button-green">New Task</a>
    </div>

    <!-- Categories displayed starts here -->
    <ul class="list-group">
        {% for task in tasks %}
            {% include 'tasks/task_details.html' %}
        {% empty %}
            <li class="list-group-item">No tasks found.</li>
        {% endfor %}
    </ul>
</div>

<!-- category_detail.html content ends here -->
{% endblock content %}
