<!-- tasks/templates/tasks/category.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="category-list">
        <div class="row">
            <div class="col-6">
                <h2 class="mb-4">My Categories</h2>
            </div>
            <div  class="col-6">
                <a href="{% url 'create_category' %}" class="btn btn-primary mb-4">New Category</a>
            </div>
        </div>

        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'category_detail' category.id %}">
                            <strong>{{ category.category_name }} ({{ category.task_count }})</strong>
                        </a>
                        <div>
                            <a href="{% url 'edit_category' category.id %}" class="btn btn-warning btn-sm me-2">Edit</a>
                            <a href="{% url 'delete_category' category.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">No Categories found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
