<!-- tasks/templates/tasks/category_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <h2>{{ category.category_name }}</h2>
    
    <p>Total Tasks: {{ task_count }}</p>
    
    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong>
                <p>{{ task.description }}</p>
                <p>Due Date: {{ task.due_at }}</p>
                <p>Priority: {{ task.get_priority_display }}</p>
                <p>Completed: {{ task.completed }}</p>
                <a href="{% url 'edit_task' task.id %}">Edit</a>
                <a href="{% url 'delete_task' task.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks found.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_task' %}">Add New Task</a>
{% endblock %}
