{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- category_form.html content starts here -->
<div class="container mt-5">
    <div class="row">
        
        <!-- Add new category form seen by user -->
        <div class="col-md-9 offset-md-1">
            <h2 class="main-format-text main-text-red">{{ form.instance.title|default:"New Category" }}</h2>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <button class="btn btn-success main-button-green" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>

<!-- category_form.html content ends here -->
{% endblock %}
