{% extends 'base.html' %}

{% block content %}
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container text-center">
            <p class="lead">Your minimalist task manager for distraction-free productivity.</p>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features-section mt-5">
        <div class="container">
            <h2 class="text-center mb-4">Key Features</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item">
                        <i class="fas fa-check-circle fa-3x mb-3"></i>
                        <h3>Task Management</h3>
                        <p>Effortlessly manage your tasks with our minimalist and distraction-free interface.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <i class="fas fa-cogs fa-3x mb-3"></i>
                        <h3>Customizable Categories</h3>
                        <p>Organize your tasks efficiently in a clutter-free environment.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <i class="fas fa-ban fa-3x mb-3"></i>
                        <h3>Minimalist, No Distractions</h3>
                        <p>Experience productivity without distractions with our minimalist design.</p>
                    </div>
                </div>
            </div>
            <br>
            <h2 class="text-center mb-4">How to Use</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item">
                        <i class="fas fa-solid fa-list-check fa-3x mb-3"></i>
                        <h3>View All Tasks at Once in a Single View</h3>
                        <p>Under Tasks menu, view all tasks, one by one piled up, with what needs to be done first - ordered by uncompleted, due date, priority and older tasks first.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <i class="fas fa-solid fa-plus fa-3x mb-3"></i>
                        <h3>Create, Edit, Complete and Delete Tasks</h3>
                        <p>Create your tasks by clicking at 'New Task', edit existing tasks by clicking at any available details - from task title to priority and don't worry if you don't find a Category yet -, Complete and Delete tasks.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item">
                        <i class="fas fa-regular fa-folder-open fa-3x mb-3"></i>
                        <h3>View All Tasks Assigned to Your Categories</h3>
                        <p>Under Categories menu, create and view all categories and tasks assigned to them. Click on a Category to view assigned tasks, Edit and Delete categories.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials-section mt-5">
        <div class="container">
            <h2 class="text-center mb-4">What Our Users Say</h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="testimonial">
                        <p>"KaTask | Manager has transformed the way I approach my daily tasks. The minimalist design helps me stay focused and productive."</p>
                        <p class="author">- Happy User</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

