{% load static %}
{% block content %}

<!-- task_details.html content starts here -->

<!-- Tasks are displayed here -->
<li class="list-group-item border-5 border-white {% if not task.completed and task.due_at < now %}
task-expired{% elif task.completed %}completed-task{% else %}bg-light{% endif %}">
    <div class="container tasks-margin">
        <div class="text-start">
            <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                <p class="task-title main-text-green">{{ task.title }}</p>
            </a>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 text-start">
                <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                    <p class="tasks-margin label-text">DESCRIPTION</p>
                        <p class="label-content">{{ task.description }}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 text-start">
                <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                    <p class="tasks-margin label-text">DUE</p>
                    {% if task.formatted_due_at is None %}
                        <p class="label-content">No due date</p>
                    {% else %}
                        <p class="label-content">{{ task.formatted_due_at }}</p>
                    {% endif %}
                    </a>
            </div>
            <div class="col-12 col-md-4 text-start">
                <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                    <p class="tasks-margin label-text">CATEGORY</p>
                    {% if task.category.category_name is Blank %}
                        <p class="label-content">No category assigned</p>
                    {% else %}
                        <p class="label-content">{{ task.category.category_name }}</p>
                    {% endif %}
                </a>
            </div>
            <div class="col-12 col-md-4 text-start">
                <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                    <p class="tasks-margin label-text">PRIORITY</p>
                    {% if task.get_priority_display == "Low" %}
                        <p class="label-content label-low">{{ task.get_priority_display }}</p>
                    {% elif task.get_priority_display == "Medium" %}
                        <p class="label-content label-medium">{{ task.get_priority_display }}</p>
                    {% elif task.get_priority_display == "High" %}
                        <p class="label-content label-high">{{ task.get_priority_display }}</p>
                    {% endif %}
                </a>
            </div>
        </div>
        
        <!-- Action buttons complete and delete -->
        <div class="d-grid gap-2 d-md-flex d-flex justify-content-md-start justify-content-center 
        tasks-margin">
            <div class="text-start">
                {% if task.completed %}
                    <form method="post" action="{% url 'undo_complete_task' task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-warning btn-sm 
                        button-yellow">Undo Complete</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'complete_task' task.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm button-green">
                            Complete</button>
                    </form>
                {% endif %}
            </div>
            <div class="">
                <button class="btn btn-delete btn-primary btn-danger btn-sm button-red" 
                data-task-id="{{ task.id }}">Delete</button>
            </div>
        </div> 
    </div>
</li>

<!-- task_details.html content ends here -->
{% endblock content %}
