{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- task_form.html content starts here -->
<div class="container mt-5">
    <div class="row">

        <!-- Add new task form seen by user -->
        <div class="col-md-9 offset-md-1 ">
            <h2 class="main-format-text main-text-red">{{ form.instance.title|default:"New Task" }}</h2>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-10 col-12 col-sm">
                {{ form.as_p }}
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-success main-button-green" type="submit">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- task_form.html content ends here -->
{% endblock %}