<!-- tasks/templates/tasks/task_details.html -->

{% load static %}

{% block content %}

    <li class="list-group-item {% if not task.completed and task.due_at < now %}task-expired{% elif task.completed %}completed-task{% endif %}">
        <div class="container tasks-margin">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="tasks-align">
                <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                    <p class="task-title main-text-color">{{ task.title }}</p>
                </a>
            </div>
            <div class="row border border-success">
                <div class="col-12 col-md-12 border border-success tasks-align">
                    <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                        <p class="tasks-margin label-text">Description:</p>
                        <p class="label-content">{{ task.description }}</p>
                    </a>
                </div>
            </div>

            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row border border-success ">
                <div class="col-12 col-md-4 border border-success tasks-align">
                    <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                        <p class="tasks-margin label-text">Due:</p>
                        {% if task.formatted_due_at is None %}
                            <p class="label-content">No due date</p>
                        {% else %}
                            <p class="label-content">{{ task.formatted_due_at }}</p>
                        {% endif %}
                    </a>
                </div>
                <div class="col-12 col-md-4 border border-success tasks-align">
                    <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                        <p class="tasks-margin label-text">Category:</p>
                        {% if task.category.category_name is Blank %}
                            <p class="label-content">No category</p>
                        {% else %}
                            <p class="label-content">{{ task.category.category_name }}</p>
                        {% endif %}
                    </a>
                </div>
                <div class="col-12 col-md-4 border border-success tasks-align">
                    <a href="{% url 'edit_task' task.id %}" class="text-decoration-none">
                        <p class="tasks-margin label-text">Priority:</p>
                        {% if task.get_priority_display == "Low" %}
                            <p class="label-content label-low">{{ task.get_priority_display }}</p>
                        {% elif task.get_priority_display == "Medium" %}
                            <p class="label-content label-medium">{{ task.get_priority_display }}</p>
                        {% elif task.get_priority_display == "High" %}
                            <p class="label-content label-high">{{ task.get_priority_display }}</p>
                        {% endif %}
                    </a>
                </div>
            </div>

            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-start tasks-margin">
                <div class="tasks-align">
                    {% if task.completed %}
                        <form method="post" action="{% url 'undo_complete_task' task.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-warning btn-sm">Undo Complete</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'complete_task' task.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-primary btn-sm">Complete</button>
                        </form>
                    {% endif %}
                </div>
                <div class="">
                    <button class="btn btn-delete btn-primary btn-danger btn-sm" data-task-id="{{ task.id }}">Delete</button>
                </div>
            </div> 
        </div>
    </li>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                    id="deleteModalLabel">Delete task?</h5>
                    <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this task?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn
                    btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
