<!-- tasks/templates/tasks/task.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="task-list row">
        <div class="col-6">
            <h2 class="mb-4 task-category">My Tasks</h2>
        </div>
        <div  class="col-6">
            <a href="{% url 'create_task' %}" class="btn btn-primary mb-4">New Task</a>
        </div>
        
        <ul class="list-group">
            {% for task in tasks %}
                {% include 'tasks/task_details.html' %}
            {% empty %}
                <li class="list-group-item">No tasks found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
