{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html>
<head>
    <title>KaTask Manager</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div>
        <h1><a href="{% url 'landing_page' %}">KaTask | Manager</a></h1>
        <nav><ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'task_list' %}">My Tasks</a></li>
            <li><a href="{% url 'category_list' %}">Categories</a></li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}" href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </ul></nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>