{% load static %} 

{% url 'home' as home_url %}
{% url 'tasks' as tasks_url %}
{% url 'categories' as category_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>KaTask Manager</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="KaTask | Manager is a tasks management app focused on tasks themselves with a minimalist UI.">
    <meta name="keywords" content="KaTask, task manager, management, time management, to-do-list, GTD">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <script src="https://kit.fontawesome.com/de0f72e78e.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>

<body class="bg-light">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 bg-white p-4 rounded">
                <header class="text-center">
                    
                    <!-- Header -->
                    <h1>
                        {% if user.is_authenticated %}
                            <a href="{% url 'tasks' %}" class="text-decoration-none">
                                <span class="brand main-text-red">化 KaTask | Manager</span>
                            </a>
                        {% else %}
                            <a href="{% url 'home' %}" class="text-decoration-none">
                                <span class="brand main-text-red">化 KaTask | Manager</span>
                            </a>
                        {% endif %}
                    </h1>
                    
                    <!-- Navigation -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" 
                            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon">
                            </span></button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    {% if user.is_authenticated %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.path == home_url %}active" aria-current="page{% endif %}" 
                                            href="{% url 'home' %}">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.path == tasks_url %}active" aria-current="page{% endif %}" 
                                            href="{% url 'tasks' %}">Tasks</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.path == category_url %}active" aria-current="page{% endif %}"
                                            href="{% url 'categories' %}">Categories</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.path == logout_url %}active" aria-current="page{% endif %}"
                                            href="{% url 'account_logout' %}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.path == signup_url %}active" aria-current="page{% endif %}"
                                            href="{% url 'account_signup' %}">Register</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {% if request.path == login_url %}active" aria-current="page{% endif %}"
                                            href="{% url 'account_login' %}">Login</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>

                <!-- Displaying Django messages -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message | safe }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center label-text">
                        {% if user.is_authenticated %}
                            <p class="text-end m-2">You are logged in as {{ user }}</p>
                        {% else %}
                            <p class="text-end m-2">You are not logged in</p>
                        {% endif %}
                    </div>

                    <!-- Content -->
                    <div class="container mt-5">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- Delete confirmation modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" 
                    aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                    id="deleteModalLabel">Delete task?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" 
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this task?
                                    This action cannot be undone.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                        Close</button>
                                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg main-text-green">
        <div class="container footer-size">
            <p class="m-0 text-center">
                {% block copyright %}
                    Made by Code Student
                {% endblock copyright %}
            </p>
            <p class="m-0 text-center main-text-green">
                Follow us:
                <a href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-square-facebook main-text-green"></i></a>
                <a href="https://twitter.com" target="_blank" rel="noopener"
                    aria-label="Visit our X page (opens in a new tab)"><i class="fa-brands fa-x-twitter main-text-green"></i></a>
                <a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-square-instagram main-text-green"></i></a>
                <a href="https://youtube.com" target="_blank" rel="noopener"
                    aria-label="Visit our YouTube channel (opens in a new tab)"><i class="fa-brands fa-square-youtube main-text-green"></i></a>
                <a href="https://github.com/jpgenari" target="_blank" rel="noopener" aria-label="Visit student's GitHub profile (opens in a new tab)">
                    <i class="fa-brands fa-square-github main-text-green"></i></a>
            </p>
        </div>
    </footer>

    {% block extras %}
    {% endblock %}

    <!-- Bootstrap JS  -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>

    <script src="{% static 'js/delete.js' %}"></script>

</body>

</html>