body {
    font-family: Montserrat, sans-serif;
    /* color: #2F4858; */
}

.mt-5 {
    margin-top: 1.2rem !important;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    text-decoration: none
}

.main-format-text {
    font-family: Lato, sans-serif;
    font-size: 1.9rem;
    font-weight: 900;
    /* text-decoration: none; */
}

.main-text-red {
    color: #743600 !important;
}

.main-text-green {
    color: #2F4858;
}

.main-button-green {
    background-color: #2F4858;
    border: #2F4858;
    font-size: 1.3rem;
    font-weight: 600;
}

.task-expired {
    background-color: #ff666633;
}

.completed-task {
    opacity: 0.4;
}

.task-title {
    font-size: 1.5rem;
    font-weight: 700;
    font-weight: bold;
}

.tasks-align {
    text-align: left;
}

.tasks-margin {
    margin-top: 5px;
    margin-bottom: 3px;
}

.label-text {
    color: #010900;
    font-size: 14px;
    font-weight: 600;
}

.label-content {
    color: #2F4858;
    font-size: 18px;
    font-weight: bold;
}

.button-green {
    background-color: #2F4858;
    border: #2F4858;
}

.button-red {
    background-color: #743600;
    border: #743600;
}

.button-yellow {
    background-color: #FFF7D6;
    border: #FFF7D6;
}

.label-low {
    color: white;
    border: 2px solid #2F4858;
    background-color: #2F4858;
    border-radius: 10px;
    padding: 2px 2px 2px 8px;
}

.label-medium {
    border: 2px solid #FFF7D6;
    background-color: #FFF7D6;
    border-radius: 10px;
    padding: 2px 2px 2px 8px;
}

.label-high {
    color: white;
    border: 2px solid #743600;
    background-color: #743600;
    border-radius: 10px;
    padding: 2px 2px 2px 8px;
}

.footer-size {
    font-size: 1.3rem;
}